/* Fonts Oswald */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');

/* Fonts Oswald1 */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');

/* Fonts Oswald2 */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');