body {
  height: 4000px;
}


.position {
  position: relative;
  background-color: hotpink;
  width: 100%;
  height: 600px;
  background-color: black;
}

.position div:first-child {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  background-color: tomato;
}

.position div:nth-child(2) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 100px;
  background: red;
}

.position div:last-child {
  position: absolute;
  bottom: calc(50% - 25px);
  right: calc(50% - 50px);
  width: 100px;
  height: 50px;
  background: green;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fixed {
  position: fixed;
  bottom: 0px;
  right: 20px;
  width: 100px;
  height: 100px;
  background: peru;
  z-index: 99999;

}


@media (min-width: 375px) {
  body {
    background-color: blue;
  }
}